<center>
  <a href="__APP__/Index/index.html">网站首页</a> | 
  <a href="__APP__/Add/index.html">添加记录</a> | 
  <a href="__APP__/Sql/index.html">执行sql语句</a> | 
  <a href="__APP__/Page1/index.html">数据库分页</a> | 
  <a href="__APP__/Page2/index.html">分页类</a> | 
  <a href="__APP__/Login/index.html">会员登陆</a> | 
  <a href="__APP__/Upload1/index.html">文件上传</a> | 
  <a href="__APP__/Upload2/index.html">多文件上传</a> | 
  <a href="__APP__/Common/index.html">Common用法</a> | 
  <a href="__APP__/Write/index.html">发表文章</a> | 
  <a href="__APP__/Ajax/index.html">Ajax功能</a> | 
  <a href="__APP__/Cache1/index.html">数据缓存</a> | 
  <a href="__APP__/Cache2/index.html">快速缓存</a> | 
  <a href="__APP__/Cache3/index.html">查询缓存</a>
</center>
<br><br>






