<!DOCTYPE html>
<html>
  <head>
    <title>Common用法</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="__ROOT__/public/css/bbs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <include file="Public:header" />
    
    <table border="1" align="center" width="600">
      <tr>
        <td>
          <br>{$aaa,$bbb|sum}<br>
          
          <br>{$aaa,$bbb|haha}<br><br>
        </td>
      </tr>
    </table>
  </body>
</html>









