<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>小小留言本</title>
</head>
<body>
<h1>小小留言本</h1>
<hr>
<form action="index.php" method="POST">
<a href='select.php'>查看留言</a><br/><br/>
昵称: <input type="text" name="username"/><span style="color:red;">昵称长度为2~16</span><br/><br/>
留言:<br/>
<textarea name="leaveword" ></textarea><span style="color:red;">留言长度为2~200</span><br/><br/>
<input type="submit" value="提交"/>&nbsp;&nbsp;&nbsp;<input type='reset' value='重写'/>
</form>
</body>
</html>