<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>小小笔记本</title>
</head>
<body>
<hr>
<form action="{$APP}/Index/add" method="post">
	<table border=1 bordercolor='#00aaFF' width='400' height='200'>
		<tr>
			<td valign='top' width='400' height='200'>
				<table>
				<tr>
					<th><a href="{$APP}/index/select.html">查看留言</a></th>
				</tr>
				<tr>
					<th>昵称:</th>
					<th><input type="text" name="username" style="border:1px solid #8b8b8b"/></th>
				</tr>	
				<tr>
					<th>内容:</th>
					<th><textarea name="content" cols="20" rows="5"></textarea></th>
				</tr>
				<tr>
					<th><input type='submit' value='提交'/></th>
				</tr>											
				</table>
			</td>
		</tr>
	</table>
</form>
</body>
</html>