<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<a href="__APP__/index/index">返回留言页面</a>
<foreach name="result" item="v">
<table border=1 width="500" cellspacing=0 cellpadding=0 bordercolor="#0cf">
	<tr>
		<td width="150">昵称: {$v.username}</td><td>留言时间: {$v.time }</td>
	</tr>
	<tr>
		<td colspan=2>留言内容:</td>
	</tr>
	<tr>
		<td colspan=2 height="100" valign="top">{$v.leaveword}</td>
	</tr>
</table>
</foreach>
</body>
</html>