<html>
  <head>
    <title>天天新闻网</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="{$ROOT}/public/css/news.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- 网站头 -->
    {include file="header.html"}
	
	<!-- 正文内容 -->
	<div class="mainDiv clear">
	  <div class="newsTypeDiv">
	    <div class="newsTypeDiv1">&nbsp;<a href="{$APP}/Index/index.html" class="a">新闻主页</a> &raquo; {$newsType.typeName}</div>
	    <div class="newsTypeDiv2">本类共有 {$newsType.articleNums} 条新闻</div>
	  </div>
	  {foreach $newsInfo as $v}
	  <div class="newsTypeDiv3">
	    <img src="{$ROOT}/public/images/makealltop.gif"><a href="{$APP}/News/index/articleId/{$v.articleId}.html">{$v.title}</a>
	  </div>
	  {/foreach}
	  
	  
	  <div class="newsTypeDiv3">&nbsp;</div>
	</div>
    
    
    <!-- 网页脚 -->
    {include file="footer.html"}
  </body>
</html>