<!DOCTYPE html>
<html>
  <head>
    <title>修改记录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="{$ROOT}/public/css/bbs.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
      function checkAdd()
      {
    	  if(document.frm.title.value == ""){
    		  alert("请输入标题！");
    		  document.frm.title.focus();
    		  return false;
    	  }
    	  else if(document.frm.clickTimes.value == ""){
    		  alert("请输入点击次数！");
    		  document.frm.clickTimes.focus();
    		  return false;
    	  }
      }
    </script>
  </head>
  <body>
    {include file="header.html"}
    
    <form name="frm" method="post" action="{$APP}/Update/update/bbsId/{$bbsInfo.bbsId}.html" onsubmit="return checkAdd()">
    <table border="1" align="center">
      <tr>
        <td>标题：</td>
        <td><input type="text" name="title" size="20" value="{$bbsInfo.title}"></td>
      </tr>
      <tr>
        <td>点击次数：</td>
        <td><input type="text" name="clickTimes" size="20" value="{$bbsInfo.clickTimes}"></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="修改">
          &nbsp;&nbsp;&nbsp;
          <input type="reset" value="重置">
        </td>
      </tr>
    </table>
    </form>
  </body>
</html>









