<html>
  <head>
    <title>天天新闻网</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="css/news.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- 包含头 -->
    {include file="header.html"}
	
	<!-- 正文内容 -->
	<div class="mainDiv clear">
	  <!-- 左侧 -->
	  <div class="leftDiv">
	    <!-- 登陆 -->
	    <div class="loginDiv">
	      <div class="loginDiv1">会员登陆</div>
	      <div class="loginDiv2 clear">
	        <div class="loginDiv20">用户名</div>
	        <div class="loginDiv21"><input type="text" name="userName" value="admin" class="txt1">*</div>
	      </div>
	      <div class="loginDiv2 clear">
	        <div class="loginDiv20">密码</div>
	        <div class="loginDiv21"><input type="password" name="password" value="123" class="txt1">*</div>
	      </div>
	      <div class="loginDiv2 clear">
	        <div class="loginDiv20">验证码</div>
	        <div class="loginDiv21"><input type="text" name="checkCode" size="8" maxlength="4"><img id="myImg" src="" align="absmiddle"></div>
	      </div>
	      <div class="loginDiv2 clear">
	        <div class="loginDiv20">&nbsp;</div>
	        <div class="loginDiv21"><input type="submit" value="登陆"></div>
	      </div>
	    </div>
	    <!-- 一个分类带两条新闻 -->
	    {foreach $newsTypes as $v}
	    <div class="twoNews">
	      <div class="twoNews1">&nbsp;<a href="newstype.php?typeId={$v.typeId}" class="a">{$v.typeName}</a></div>
	      <div class="twoNews2"><a href="newstype.php?typeId={$v.typeId}" class="a">更多</a>&nbsp;</div>
	    </div>
	    {foreach $v.news as $vv}
	    <div class="twoNews3"><img src="images/makealltop.gif"><a href="news.php?articleId={$vv.articleId}">{$vv.title|truncate:16}</a></div>
	    {/foreach}
	    {/foreach}
	  </div>
	  <!-- 右侧 -->
	  <div class="rightDiv">
	    <!-- 热点要闻 -->
	    <div class="hotNews">热点要闻</div>
	    {foreach $hotNews as $v}
	    <div class="hotNews1">
	      [<a href="newstype.php?typeId={$v.typeId}">{$v.typeName}</a>] <a href="news.php?articleId={$v.articleId}">{$v.title}</a> {$v.dateandtime} <img src="images/new1.gif">
	    </div>
	    {/foreach}
	    
	    <!-- 新闻分类导航 -->
	    <div class="hotNews">新闻分类导航</div>
	    <div class="newsDh">
	      <div class="newsDh1"><span class="newsCount">新闻总数：</span></div>
	      <div class="newsDh2">{$allNews}</div>
	      <div class="newsDh3">&nbsp;</div>
	    </div>
	    {foreach $newsTypes as $v}
	    <div class="newsDh">
	      <div class="newsDh1"><a href="newstype.php?typeId={$v.typeId}">{$v.typeName}：</a></div>
	      <div class="newsDh2">{$v.count}</div>
	      <div class="newsDh3"><a href="newstype.php?typeId={$v.typeId}"><img src="images/sch.gif" border="0" class="goImg"></a></div>
	    </div>
	    {/foreach}
	  </div>
	</div>
    
    
    <!-- 网页脚 -->
    {include file="footer.html"}
  </body>
</html>




