<html>
  <head>
    <title>天天新闻网</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="../../css/news.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- 网站头 -->
    {#header#}
	
	<!-- 正文内容 -->
	<div class="mainDiv clear">
	  <div class="newsTypeDiv">
	    <div class="newsTypeDiv1">&nbsp;<a href="../../index.html" class="a">新闻主页</a> &raquo; {#typeName#}</div>
	    <div class="newsTypeDiv2">本类共有 {#newsCount#} 条新闻</div>
	  </div>
	  {#newsInfo#}
	  
	  
	  <div class="newsTypeDiv3">&nbsp;</div>
	</div>
    
    
    <!-- 网页脚 -->
    {#footer#}
  </body>
</html>




