<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>分类</h3>
<a target="main" href="__APP__/Type/add">添加</a>
<a target="main" href="__APP__/Type/oper">管理</a>
<h3>品牌</h3>
<a target="main" href="__APP__/Brand/add">添加</a>
<a target="main" href="__APP__/Brand/oper">管理</a>
<h3>产品</h3>
<a target="main" href="__APP__/Product/add">添加</a>
<a target="main" href="__APP__/Product/oper">管理</a>
</body>
</html>