<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>所有邮件</title>
    <script>
        function con($id) {
            if (confirm("确定要删除这封邮件吗?")) {
                window.location = "showMails.php?id=" + $id + '&del_tis=1';
            }
        }

        var del_tis = '{$del_tis}';

        if (del_tis || del_tis === '0') {
            if (del_tis == 1) {
                window.location = "succes.php?act=del&rst=1";
            } else {
                window.location = "succes.php?act=del&rst=0";
            }
        }
    </script>

</head>
<body>
<div style="position: absolute; left: 40%; top: 25%;">
    <center><font size='5'>所有邮件</font></center>
    <form action='showMails.php' method='post'>
        <table align='center' border='1' cellspacing='0' cellpadding='0'>
            <tr>
                <th>邮件ID</th>
                <th>邮件标题</th>
                <th>邮件日期</th>
                <th>是否删除</th>
            </tr>
            {foreach $select as $v}
            <tr>
                <td>{$v.ID}</td>
                <td><a href='mailContent.php?id={$v.ID}'>{$v.title}</a></td>
                <td>{$v.dataandtime}</td>
                <td><a href='#' onclick='con("{$v.ID}")'>删除</a></td>
            </tr>
            {/foreach}
        </table>
    </form>
</div>
</body>
</html>