<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>提示</title>
    <script type="text/javascript">
        var index = 5;//时间
        function changeTime() {
            document.getElementById("timeSpan").innerHTML = index;
            index--;
            if (index < 0) {
                //时间到了，跳转页页
                window.location = "{$jumpUrl}";
            }
            else {
                //时间没到，继续倒计时
                window.setTimeout("changeTime()", 1000);
            }
        }
    </script>
</head>
<body onload="changeTime()">
<div style="position: absolute; left: 40%; top: 25%;">
    <h2>{$message}</h2>
    页面将在 <span id="timeSpan">5</span> 秒钟内自动跳转！<br><br>
    如果没有跳转，<a href="{$jumpUrl}">请点击这里</a>。
</div>
</body>
</html>