<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>查看留言</title>
<script src='jquery/jquery-1.4.js'></script>
<script>
 function out(){
	 if(confirm("是否要退出!!")){
     	window.location =" index.php";
         }
 }
</script>
</head>
<body>
<a href='write.php'>发布信息</a>&nbsp;&nbsp;&nbsp;<a href='#' id="out" onclick="out()">退出系统</a>
<br/><br/>
留言信息:
<br/><br/>
<table border=1 cellspacing=0 cellpadding=0 width=700 bordercolor='blue'>
	<tr>
		<th>发送人</th><th>发送时间</th><th>接收人</th><th>信息内容</th>
	</tr>
	{foreach $result as $v}
	<tr>
 		<td>{$v.username}</td>
 		<td>{$v.dateandtime}</td>
 		<td>{$v.name}</td>
 		<td>{$v.content}</td>
	</tr>
	{/foreach}
</table>
</body>
</html>