<!DOCTYPE html>
<html>
  <head>
    <title>后台管理页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="__ROOT__/public/css/bbs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <table border="1" ailgn="center" width="600">
      <tr>
        <td colspan="2">网站的头</td>
      </tr>
      <tr>
        <td width="150"><include file="Public:left" /></td>
        <td>右侧正文内容</td>
      </tr>
    </table>
  </body>
</html>









