<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>分类</h3>
<a target="main" href="__APP__/Admin/Type/add">添加</a>
<a target="main" href="__APP__/Admin/Type/oper">管理</a>
<h3>品牌</h3>
<a target="main" href="__APP__/Admin/Brand/add">添加</a>
<a target="main" href="__APP__/Admin/Brand/oper">管理</a>
<h3>产品</h3>
<a target="main" href="__APP__/Admin/Product/add">添加</a>
<a target="main" href="__APP__/Admin/Product/oper">管理</a>

</body>
</html>