<!DOCTYPE html>
<html>
  <head>
    <title>页面缓存</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bbs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    {include file="header.html"}
    
    <table border="1" align="center" width="600">
      <tr>
        <td>
          
          <br>{$t1}<br>
          <br>{$t2}<br>
          <br>{$t3}<br><br>
          
        </td>
      </tr>
    </table>
  </body>
</html>






