{config_load file="hello.conf"}
<!DOCTYPE html>
<html>
  <head>
    <title>configs用法</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bbs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    {include file="header.html"}
    
    <table border="1" align="center" width="600">
      <tr>
        <td>
          
          <br>公司名称：{#companyName#}<br>
          
          <br>联系人：{#person#}<br>
          
          <br>联系电话：{#tel#}<br><br>
          
        </td>
      </tr>
    </table>
  </body>
</html>






