<!DOCTYPE html>
<html>
  <head>
    <title>变量调节器</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bbs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    {include file="header.html"}
    
    <table border="1" align="center" width="600">
      <tr>
        <td>
          
          <br>{$userName|default:"此处没有值"}<br>
          
          <br>{$str1|escape}<br>
          
          <br>{$str2|truncate:15:"==="}<br>
          
          <br>{$str3|nl2br}<br>
          
          
        </td>
      </tr>
    </table>
  </body>
</html>






